<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makale</title>
    <link rel="stylesheet" href="../static/css/makale.css">
</head>
<body>

    <button class="geridon" onclick="window.location.href='../templates/index.html'">GERI</button>
    <img src="../static/img/iklimdegisikligi.jpg" alt="İklim Değişikliği">
    <div class="iklimdegisikligimakale">
        <h1 class="basllik">IKLIM DEĞİŞİKLİĞİ VE ETKİLERİ</h1>
        <pre class="makaleee">
            Giriş İklim değişikliği, dünyanın ortalama sıcaklıklarında uzun vadeli değişiklikleri ifade eden küresel bir sorundur. Bu 
            değişiklikler büyük ölçüde insan faaliyetleri, özellikle de fosil yakıt kullanımı ve ormansızlaşma nedeniyle meydana
            gelmektedir. Atmosferdeki sera gazlarının artışı, dünya genelinde sıcaklıkların yükselmesine, buzulların erimesine ve
            doğal dengelerin bozulmasına neden olmaktadır.</pre>
    </div>

    <pre class="maakale">
        <h1 class="baslik">     Iklim Krizi – Kazanabileceğimiz Bir Yarış: </h1>

            <h2>
            
                    Iklim değişikliği, zamanımızın tanımlayıcı krizidir ve korktuğumuzda
                    
                    olduğundan daha hızlı gerçekleşmektedir.

                    Ancak bu küresel tehdit karşısında güçsüz olmaktan çok uzağız.
                    
                    Genel Sekreter António Guterres'in Eylül ayında
                    
                    belirttiği gibi , "iklim acil durumu kaybettiğimiz bir yarış,
                    
                    ancak kazanabileceğimiz bir yarış".

                    Dünyanın hiçbir köşesi iklim değişikliğinin yıkıcı 
                    
                    sonuçlarından muaf değil.

                    Yükselen sıcaklıklar çevresel bozulmayı, doğal afetleri, aşırı
                    
                    hava olaylarını, gıda ve su güvensizliğini,
                    
                    ekonomik bozulmayı, çatışmayı ve terörizmi körüklüyor.
                    
                    Deniz seviyeleri yükseliyor, Arktika eriyor, mercan
                    
                    resifleri ölüyor, okyanuslar asitleniyor ve ormanlar yanıyor.
                    
                    Her zamanki gibi iş yapmanın yeterli olmadığı
                    
                    açık. İklim değişikliğinin sonsuz maliyeti geri döndürülemez
                    
                    seviyelere ulaşırken, şimdi cesurca kolektif ey 
                </h2>


        <h1 class="baslik">     Küresel Sıcaklar Yükseliyor: </h1>
           
            <h2>
                Komür, petrol ve gaz üretiminin bir sonucu olarak her yıl atmosfere
                
                milyarlarca ton CO2 salınıyor. İnsan faaliyeti, yavaşlama belirtisi
                
                göstermeden rekor seviyede sera gazı emisyonları üretiyor . UNEP
                
                Emisyon Açığı raporlarının on yıllık özetine göre, "her zamanki
                
                gibi iş" yörüngesini sürdürme yolundayız.

                Son dört yıl, kayıtlara geçen en sıcak dört yıl oldu. Dünya Meteoroloji
                
                Örgütü'nün (WMO) Eylül 2019 tarihli raporuna göre, sanayi öncesi
                
                seviyelerin en az bir santigrat derece üzerindeyiz ve bilim insanlarının
                
                "kabul edilemez bir risk" olacağı konusunda uyardığı seviyeye yakınız.
                
                2015 Paris İklim Değişikliği Anlaşması, nihai ısınmanın iki santigrat
                
                derecenin "çok altında" tutulmasını ve artışı daha da sınırlamak için 
                
                çabaların sürdürülmesini, 1,5 dereceye düşürülmesini öngörüyor. Ancak 
                
                küresel emisyonları yavaşlatmazsak, sıcaklıklar 2100 yılına kadar üç 
                
                santigrat derecenin üzerine çıkabilir ve ekosistemlerimize geri döndürülemez
                
                daha fazla zarar verebilir.

                Kutup ve dağ bölgelerindeki buzullar ve buz tabakaları her zamankinden
                
                daha hızlı eriyor ve deniz seviyelerinin yükselmesine neden oluyor.
                
                Nüfusu beş milyonun üzerinde olan dünya şehirlerinin neredeyse üçte ikisi
                
                deniz seviyesinin yükselme riski altında olan bölgelerde yer alıyor ve dünya
                
                nüfusunun yaklaşık yüzde 40'ı bir kıyıdan 100 km uzaklıkta yaşıyor.
                
                Hiçbir eylemde bulunulmazsa, New York, Şanghay, Abu Dabi, Osaka, Rio de Janeiro
                
                ve diğer birçok şehrin tüm bölgeleri yaşam süremiz içinde su altında kalabilir
                
                ve milyonlarca insanı yerinden edebilir. 
            </h2>

        <h1 class="baslik">     Gıda Ve Su Güvensizliği: </h1>       
                    
            <h2>
                Küresel ısınma herkesin yiyecek ve su güvenliğini etkiler.
                
                İklim değişikliği, dünyanın tutabileceği karbon miktarını
                
                sınırlayan toprak bozulmasının doğrudan bir nedenidir.
                
                Günümüzde yaklaşık 500 milyon insan erozyondan etkilenen
                
                bölgelerde yaşarken, bunun sonucunda yiyeceklerin yüzde
                
                30'una kadarı kayboluyor veya israf ediliyor. Bu arada,
                
                iklim değişikliği içme ve tarım için suyun bulunabilirliğini
                
                ve kalitesini sınırlar.

                Birçok bölgede, yüzyıllardır büyüyen mahsuller hayatta kalmak
                
                için mücadele ediyor ve bu da gıda güvenliğini daha da
                
                güvencesiz hale getiriyor. Bu tür etkiler genellikle
                
                öncelikle yoksul ve savunmasız kesimlere düşüyor.
                
                Küresel ısınmanın, dünyanın en zengin ve en yoksul
                
                ülkeleri arasındaki ekonomik çıktıyı daha da artırması muhtemel.
             </h2>

        
        <h1 class="baslik">     Yeni Aşırılıklar: </h1>

            <h2>
                İklim ve hava aşırılıklarıyla bağlantılı felaketler her zaman
                
                Dünya sistemimizin bir parçası olmuştur. Ancak dünya ısındıkça
                
                daha sık ve yoğun hale geliyorlar. Sıcak hava dalgaları, kuraklıklar,
                
                tayfunlar ve kasırgalar dünyanın dört bir yanında kitlesel yıkıma
                
                neden olurken, hiçbir kıta dokunulmadan kalmıyor. Felaketlerin yüzde
                
                90'ı  artık hava ve iklimle ilgili olarak sınıflandırılıyor ve dünya
                
                ekonomisine her yıl 520 milyar ABD dolarına mal oluyor ve bunun
                
                sonucunda 26 milyon insan yoksulluğa itiliyor. 
            </h2>
        
        <h1 class="baslik">     Çatışma İçin Bir Katalizör: </h1>  

            <h2>
                Iklim değişikliği uluslararası barış ve güvenlik için büyük bir tehdittir.
                    
                İklim değişikliğinin etkileri toprak, gıda ve su gibi kaynaklar için 
                    
                rekabeti artırarak sosyoekonomik gerginlikleri körükler ve giderek daha
                    
                sık olarak kitlesel yerinden edilmelere yol açar .  

                İklim, halihazırda var olan zorlukları daha da kötüleştiren
                    
                bir risk çarpanıdır . Afrika ve Latin Amerika'daki kuraklıklar 
                    
                doğrudan siyasi huzursuzluğa ve şiddete yol açar. Dünya Bankası,
                    
                eylemde bulunulmaması durumunda Sahra Altı Afrika, Latin Amerika ve Güney
                    
                Asya'daki  140 milyondan fazla insanın 2050 yılına kadar kendi bölgeleri
                    
                içinde göç etmek zorunda kalacağını tahmin ediyor.
            </h2>       

        <h1 class="baslik">     İLERİYE DOĞRU BİR YOL: </h1>

            <h2>
                Bilim bize iklim değişikliğinin reddedilemez olduğunu söylerken,
                
                aynı zamanda bu gidişatı durdurmak için çok geç olmadığını da söylüyor.
                
                Bu, toplumun her alanında temel dönüşümler gerektirecek: gıda yetiştirme,
                
                araziyi kullanma, malları taşıma ve ekonomilerimizi güçlendirme biçimimiz.

                Teknoloji iklim değişikliğine katkıda bulunmuş olsa da, yeni ve verimli
                
                teknolojiler net emisyonları azaltmamıza ve daha temiz bir dünya yaratmamız
                
                yardımcı olabilir. Bugünün emisyonlarının yüzde 70'inden  fazlası için halihazırda
                
                mevcut teknolojik çözümler mevcuttur . Birçok yerde yenilenebilir enerji artık en
                
                ucuz enerji kaynağıdır ve elektrikli arabalar ana akım haline gelmeye hazırdır.

                Bu arada, doğa temelli çözümler ekonomimizin karbondan arındırılmasıyla mücadele
                
                ederken 'nefes alma alanı' sağlar. Bu çözümler, karbon ayak izimizin bir kısmını
                
                azaltmamızı sağlarken aynı zamanda hayati ekosistem hizmetlerini, biyolojik çeşitliliği,
                
                temiz suya erişimi, iyileştirilmiş geçim kaynaklarını, sağlıklı beslenmeyi ve gıda
                
                güvenliğini de destekler. Doğa temelli çözümler arasında iyileştirilmiş tarım
                
                uygulamaları, arazi restorasyonu, koruma ve gıda tedarik zincirlerinin
                
                yeşillendirilmesi yer alır.
                
                Ölçeklenebilir yeni teknolojiler ve doğa temelli çözümler hepimizin daha temiz,
                
                daha dayanıklı bir dünyaya sıçramamızı sağlayacaktır. Hükümetler, işletmeler,
                
                sivil toplum, gençlik ve akademi birlikte çalışırsa, acının azaldığı, adaletin
                
                sağlandığı ve insanlar ile gezegen arasında uyumun yeniden sağlandığı yeşil bir
                
                gelecek yaratabiliriz. 
            </h2>
    </pre>
    <a class="LAyangin" href="../Makaleler/LA.html"><img src="../static/img/LA1.webp" alt="LA Yangin"></a>
    <h2 class="Los_Angeles">Los Angelesde Yangin</h2>
    <pre class="Los_Angeles_makale">
        Los Angeles, Kaliforniya'nın en büyük ve en yoğun
        nüfuslu şehirlerinden biri olmasının yanı sıra,
        sık sık orman yangınlarıyla da gündeme gelmektedir.
        İklim değişikliği, insan kaynaklı faktörler ve
        doğal nedenler, bölgedeki yangınların artmasına
        yol açmaktadır. Bu makalede, Los Angeles'ta
        meydana gelen orman yangınlarının nedenlerini,
        etkilerini ve alınan önlemleri inceleyeceğiz.
        DEVAMI ICIN LOS ANGELES FOTORAFINA TIKLAYINIZ
    </pre>
    <a class="GKyangin" href="../Makaleler/GK.html"><img src="../static/img/GKyangin1.jpeg" alt="Guney Kore Yangin"></a>
    <h2 class="Guney_Kore">Guney Korede Yangin</h2>
    <pre  class="Guney_Kore_makale">
        Güney Kore, Mart 2025'te tarihinin en büyük orman
        yangınlarıyla mücadele etti. Ülkenin güneydoğusunda
        meydana gelen bu yangınlar, büyük can ve mal
        kayıplarına neden oldu. Hükümet ve itfaiye 
        ekipleri yoğun çaba sarf etse de, yangınların
        etkisi uzun süre hissedildi.
        DEVAMI ICIN Guney KORE FOTORAFINA TIKLAYINIZ
    </pre>
    <a class="Avustralya" href="../Makaleler/A.html"><img src="../static/img/Avustralyayangin.jpeg" alt="Avustral Yayangin"></a>
    <h2 class="Ayangin">Avustralyada Yangin</h2>
    <pre class="Avustralya_makale">
        2019-2020 yılları arasında Avustralya, tarihinin
        en yıkıcı orman yangınlarından biriyle karşı karşıya
        kaldı. "Kara Yaz" (Black Summer) olarak adlandırılan
        bu yangın sezonu, milyonlarca hektarlık alanın kül
        olmasına, binlerce insanın evsiz kalmasına ve ekosistemin
        büyük zarar görmesine yol açtı. Bu makalede, yangınların
        nedenleri, etkileri ve alınan önlemler ele alınacaktır.
        DEVAMI ICIN Avustralya FOTORAFINA TIKLAYINIZ
    </pre>
    <a class="besdensonra" href="../Makaleler/5yil.html"><img src="../static/img/dogalafetler55.jpg" alt="2020 Sonrası İklim Krizi ve Doğal Afetler"></a>
    <h2 class="besyil">2020 Sonrası İklim Krizi ve Doğal Afetler</h2>
    <pre class="besmakale">
        Günümüzde iklim krizi, doğal afetlerin sayısını ve şiddetini artırarak dünya
        genelinde ciddi yıkımlara neden olmaktadır. 2020 yılından sonra yaşanan çeşitli
        afetler, iklim değişikliğinin etkilerini daha da gözler önüne sermektedir. Bu
        makalede, son yıllarda meydana gelen önemli iklim kaynaklı afetleri inceleyeceğiz.
    </pre>
</body>
</html>
